:root {
  --background-light: #fff;
  --background-dark: #222;
  --text-light: #000;
  --text-dark: #fff;
}

body.light {
  background-color: var(--background-light);
  color: var(--text-light);
}

body.dark {
  background-color: var(--background-dark);
  color: var(--text-dark);
}

.theme-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

button.toggle-btn {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

body {
  transition: background-color 0.3s, color 0.3s;
}
